body{
    font-family: Inter, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.list {
    font-family: Inter, sans-serif;
    font-weight: medium;
}