:root {
  --accent: hsl(197, 100%, 67%);
}
body{
    font-family: Inter, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: var(--accent);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 67px;
    margin: 0 10px;
    border-radius: 25px;
    background-color: var(--accent);
    cursor: pointer;
}